<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Programming Fox Club - Nutrition Shop</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<ul>
  <li><a th:href="@{'../'}">Information</a></li>
  <li><a th:href="@{'../tricks'}">Trick Center</a></li>
</ul>

<img src="hungryfox.png" width="200px"/>
<table>
  <form action="/addnutrition">
    <tr>
      <th>Food</th>
      <th>Drink</th>
    </tr>
    <tr>
      <td><input type="list" name="food"/></td>
      <td><input type="list" name="drink"/></td>
      <td><input type="submit" value="Change"/></td>
    </tr>
  </form>
</table>


</body>
</html>
