<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Welcome to the Trick Center!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" media="all" href="/style.css"/>
</head>
<body>

<h3>
  <span><a th:href="@{'../'}">Information</a></span>
  <span><a th:href="@{'../nutrition'}">Nutrition Shop</a></span>
  <span><a th:href="@{'../tricks'}">Trick Center</a></span>
</h3>

<h1>Teach some new tricks to your fox!</h1>

<img src="foxtrick.png" width="300px"/>

<table>
  <form action="/addtrick">
    <tr>
      <th>Trick</th>
    </tr>
    <tr>
      <td><input type="list" name="trick"/></td>
      <td><input type="submit" value="Learn"/></td>
    </tr>
  </form>
</table>


<h1 th:text="'Known Tricks'">.</h1>

<ol>
  <span th:if="${fox.tricks.size()} == 0" th:text="|You know zero tricks.|"></span>
  <span></span>
  <li th:each="trick : ${fox.tricks}" th:text="${trick}"></li>
</ol>

</body>
</html>
