body {
  margin: 0;
  color: rgba(0, 0, 0, .8);
  font-family: 'Merriweather', serif;
  font-size: 18px;
  line-height: 1.58;

}

img {
  width: 100%;
}

/*comment*/

article {
  width: 740px;
  margin: 0 auto;

}

h1, h2 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  letter-spacing: -.022em;
}

h1 {
  font-size: 40px;
  font-style: normal;
  margin-top: 80px;
  margin-bottom: 0px;
}

h2 {
  color: rgba(0, 0, 0, 0.44);
  font-size: 27px;
  margin-top: 0px;
  margin-bottom: 22px;
  font-weight: normal;
}

a {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
}

p {
    line-height: 33.18px;
    margin-bottom: 30px;
    letter-spacing: -.002em;
}

.dots {
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: 30px;
  font-style: bold;
  letter-spacing: 1em;
}

.neni {
  width: 50%
  float: left;
}

.imageCaption {
    position: relative;
    font-size: 12px;
    width: 50%;
    margin-top: 10px;
    color: rgba(0,0,0,.6);
    text-align: center;
